.gridContainer {
    padding: 0px 20px 20px 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    position: relative;
}

.gridImage {
    background: rgba(240, 240, 240, 1.0);
    border-radius: 8px;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 4px 4px 8px rgba(128, 128, 128, 0.8);
}

.gridContainerAbout {
    padding: 1px 0px 0px 0px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1px;
    position: relative;
}

.gridImageAbout {
    background-color: rgba(240, 240, 240, 1.0);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.gridSubHeading {
    font-size: 19px;
    font-weight: 400;
    color: White;
    padding: 16px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.copyrights {
    position: absolute;
    left: 4px;
    bottom: 4px;
    margin: 0px;
    font-size: 8px;
}
