.heroProjectHeading {
    font-size: 32px;
    font-weight: 600;
    color: White;
}

.heroProjectHeading2 {
    font-size: 28px;
    font-weight: 500;
    color: White;
}

.heroProjectSubHeading {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.6;
    color: White;
}

.textStartingFromCentre {
    position: absolute;
    top: 60px;
    left: 40%;
    right: 32px;
    bottom: 32px;
}

.projectSubHeading {
    font-size: 20px;
    font-weight: 400;
    color: White;
}

.flexibleProjectContainerHorizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flexibleProjectContainerHorizontal img {
    width: 25px;
    height: 25px;
}

.flexibleProjectContainerHorizontal h1 {
    padding-left: 8px;
}