.heroProjectHeading {
    font-size: 32px;
    font-weight: 600;
    color: White;
}

.heroProjectHeading2 {
    font-size: 28px;
    font-weight: 500;
    color: White;
}

.heroProjectSubHeading {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.6;
    color: White;
}

.heroProjectSubHeadingAbout {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.6;
    color: black;
    background-color: rgba(250, 250, 250, 0.6);
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.textStartingFromCentre {
    position: absolute;
    top: 60px;
    left: 36%;
    right: 8px;
    bottom: 8px;
}

.projectSubHeading {
    font-size: 24px;
    font-weight: 400;
    color: White;
}

.heroProjectHeading3 {
    font-size: 28px;
    font-weight: 500;
    color: White;
    margin: 8px;
}

.projectSubHeading2 {
    font-size: 18px;
    font-weight: 400;
    color: black;
    margin: 8px;
    margin-left: 0px;
}

.flexibleProjectContainerHorizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flexibleProjectContainerHorizontal img {
    width: 30px;
    height: 30px;
}

.flexibleProjectContainerHorizontal h1 {
    padding-left: 8px;
}